@model List<post>
@{
    ViewBag.Title = "allPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
 
    <div>
        <table width="100%">
            <tr>
                <td width="70%" style=" font-size:18px;">@item.postContent</td>
                <td width="30%"> <img src="@item.photo" width="200" height="200" /> </td>
            </tr>
            <tr>
                <td width="70%" style="font-size:10px; color:#988080"> Catagory: @item.category.categoryName, Time:@item.date, Author: @item.writerUsername </td>
                <td width="30%">
                    @Html.ActionLink("read more ..", "details", new { id = item.postID })
                </td>
            </tr>
        </table>
    </div>
}

