@model post
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<p style="font-size:22px; color:#312929">
    @Model.postContent
</p>

<br />
<br />
<br />
<div style=" text-align:center">
    <img src="@Model.photo" width="500" height="400" />
</div>
<br />
<br />

<p style="font-size:10px; color:#808080">

    <table width="80%">
        <tr>
            <td> Catalog: @Model.category.categoryName</td>
            <td></td>
            <td>Date:@Model.date</td>
            <td></td>
            <td>
                Author: @Html.ActionLink(@Model.writerUsername, "viewAnotherUserProfile", "user", new { username = Model.writerUsername }, null)
            </td>
        </tr>
    </table>

</p>
