@model List<post>
@{
    ViewBag.Title = "myPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Posts</h2>

@foreach (var item in Model)
{
    <div style="text-align:right">
        <h6>@item.date</h6>
    </div>
    <div style="text-align: left; font-size: 24px; color:#433c3c; font-weight: bold">
        
        @item.postContent
        <br/>
        <br/>
        <br/>
    </div>
    <div style="text-align: center;">
        @if (item.photo != null)
                {
                    <div width="30%"> <img src="@item.photo" width="400" height="400" /> </div>
                }
    </div>
    <div style="text-align: right; font-size: 24px; color:red; font-weight: bolder">
        @Html.ActionLink("more details", "details", new { postId = item.postID }) /
        @Html.ActionLink("edit", "edit", new { postId = item.postID }) /
        @Html.ActionLink("delete", "delete", new { postId = item.postID })
    </div>
    <div>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    </div>

}
