@model user
@{
    ViewBag.Title = "Index";
}

<h2>Register</h2>
<form action="newUser" method="post">
    <table cellpadding="30">
        <tr>
            <td>@Html.LabelFor(n => n.firstName)</td>
            <td>@Html.TextBoxFor(n => n.firstName, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.firstName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.lastName)</td>
            <td>@Html.TextBoxFor(n => n.lastName, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.lastName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.username)</td>
            <td>@Html.TextBoxFor(n => n.username, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.username)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.dataOfBirth)</td>
            <td>@Html.TextBoxFor(n => n.dataOfBirth, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.dataOfBirth)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.phone)</td>
            <td>@Html.TextBoxFor(n => n.phone, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.phone)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.email)</td>
            <td>@Html.TextBoxFor(n => n.email, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.password)</td>
            <td>@Html.TextBoxFor(n => n.password, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.confirmPassword)</td>
            <td>@Html.TextBoxFor(n => n.confirmPassword, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.confirmPassword)</td>
        </tr>
        <tr>
            <td></td>
            <td><input value="register" type="submit" class="btn btn-primary" /></td>
            <td></td>
        </tr>
    </table>
</form>
