@model user
@{
    ViewBag.Title = "viewAnotherUserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @Model.username Profile</h2>
<table width="100%" style="font-size:20px;">
    <tr>
        <td>
            Full name: @Model.firstName @Model.lastName
            <br /> <br />
        </td>
    </tr>
    <tr>
        <td>
            E-mail: @Model.email
            <br /> <br />
        </td>
    </tr>
    <tr>
        <td>
            Age: @(DateTime.Now.Year-Model.dateOfBirth.Year) years old
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <img src="~/attach/@Model.userPhoto" width="300" height="300" />
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            Phone: +20 @Model.phone
            <br />
            <br />
        </td>
    </tr>
</table>

